/* css styles */

code {
    color: #3498db;
}

div.sourceCode {
    background-color: transparent;
    margin-bottom: initial;
}
pre.sourceCode {
    background-color: transparent;
}

div.cell {
    /* background-color: rgb(242, 242, 242); */
    /* background-color: rgb(88, 88, 88); */
    border-bottom: 20px;
    margin-bottom: 20px;
}

div.cell-output.cell-output-stdout pre:nth-child(1) {
    margin-bottom: -5px;
    opacity: 50%;
}